body{
    margin: 0;
    background-image: url(../img/bg.jpg);
}
.container{
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  50px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;

    box-sizing: border-box;
}
.container div{
    padding: 10px;
    border: 1px solid black;
}
/* .header{
    grid-column-start: 1 ;
    grid-column-end: 4;
    background-color: rgb(2, 5, 36);
} */

.header {
    background: blanchedalmond;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    grid-column-start: 1 ;
    grid-column-end: auto;
    border: double burlywood;
    
    
  }
  .header:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    background: blanchedalmond url(../img/logo.jpg) center / cover;
    border: 10px solid white;
    
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: -50px;
    border: double burlywood;
    
  }
  a.colorit:link {
    text-decoration: none;
    color: black;
    font-family: "Lucida handwriting", "Courier New", monospace;
    padding: 5px;
    font-size: 16px;
  }
  
  a.colorit:visited {
    text-decoration: none;
    color: black;
  }
  
  a.colorit:hover {
    text-decoration: none;
    color: brown;
  }
  
  a.colorit:active {
    text-decoration: underline;
  }
.content-large{
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: blanchedalmond;
}
.content-small{
    background-color: blanchedalmond;
}
.content-small1{
    
    /* background-attachment: fixed; */
    width: auto;
    height: auto;
    

    
    

    
    object-fit: cover;
    

}
/* .footer{
    grid-column: 1 / span 3;
    background-color: rgb(2, 5, 36);
    color: blanchedalmond;
} */

.footer{
    height: 50px;
    margin-top: -50px;
    

    
    background-color: rgb(2, 5, 36);
    color: blanchedalmond;
}
.nav{
    font-size: 90%;
}